body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
}

#banner {
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 100%;

    z-index: 1;
    background-color: white;
}

.banner-header {
    display: flex;
    align-items: center; /* Align items vertically */
    margin: 0px 20px 0px 20px;
}

.banner-img {
    height: 40px;
}

.banner-text {
    margin: 10px;   
}

#tab-buttons-container {
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
    padding: 0px 20px 0px 20px;

    border: solid;
    border-width: 0px 0px 4px 0px;
    border-color: rgb(9, 147, 183);

    z-index: 0;
}

.tab-button {
    cursor: pointer;
    overflow: hidden;
    margin-right: 10px;
    border-width: 0px;      /* default for buttons is 2px */
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}

.tab-button.active {
    background-color: rgb(9, 147, 183)
}

#tab-content-container {
    position: absolute;
    top: 20%;
}

.tab-content {
    display: none;
    padding: 0px 25px 0px 25px;
}

.tab-content.active {
    display: block;
}