body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
}

#banner {
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 100%;

    z-index: 1;
    background-color: white;
}

.banner-header {
    display: flex;
    align-items: center; /* Align items vertically */
    margin: 0px 20px 0px 20px;
}

.banner-img {
    height: 40px;
}

.banner-text {
    margin: 10px;
    color: #333399;
}

#tab-buttons-container {
    white-space: nowrap;
    max-width: 100%;

    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #0000FF;
    padding: 0px 20px 0px 20px;
}

.tab-button {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    margin: 0px 10px -4px 0px;
    
    border-radius: 8px 8px 0px 0px;
    border-style: solid;
    border-width: 4px;
    border-color: #0000FF;

    background-color: white;
    padding: 10px;
    color: #333399;
    font-weight: bold;
}

.tab-button:hover {
    filter: brightness(1.3); 
}

.tab-button.active {
    pointer-events: none;
    
    border-bottom-color: white;
}

#tab-content-container {
    position: absolute;
    top: 20%;
}

.tab-content {
    display: none;
    padding: 0px 25px 0px 25px;
}

.tab-content.active {
    display: block;
}