body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
}

figcaption {
    margin-top: 10px;
}

#banner {
    position: fixed;
    width: 100%;

    display: flex;
    flex-direction: column;

    z-index: 1;
    background-color: white;
}

.banner-header {
    display: flex;
    align-items: center; /* Align items vertically */
    margin: 0px 20px 0px 20px;
}

.banner-img {
    height: 40px;
}

.banner-text {
    margin: 10px 0px 10px 0px;
    color: black;
}

#tab-buttons-container {
    display: flex;
    flex-wrap: nowrap;

    position: relative;
    max-width: 100%;

    padding: 0px 20px 0px 20px;
}

.tab-button {
    position: relative;
    z-index: 1;

    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    
    border-radius: 8px 8px 0px 0px;
    border-style: solid;
    border-width: 4px;

    background-color: white;
    padding: 10px;
    color: #333399;
    font-weight: bold;
}

.tab-button:hover {
    color: #4D4DE6
}

.tab-button.active {
    z-index: 3;
    pointer-events: none;
}

.color1 {
    border-color: #0000FF #0000FF white #0000FF;
}
.color2 {
    border-color: #1900FF #1900FF white #1900FF;
}
.color3 {
    border-color: #3200FF #3200FF white #3200FF;
}
.color4 {
    border-color: #4B00FF #4B00FF white #4B00FF;
}
.color5 {
    border-color: #6400FF #6400FF white #6400FF;
}
.color6 {
    border-color: #7D00FF #7D00FF white #7D00FF;
}
.color7 {
    border-color: #9600FF #9600FF white #9600FF;
}
.color8 {
    border-color: #AF00FF #AF00FF white #AF00FF;
}

#banner-line {
    position: absolute;
    z-index: 2;

    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    
    content: '';
    background-color: #0000FF;
}

#tab-content-container {
    width: 100%;
    position: absolute;
}

.tab-content {
    display: none;
    padding: 20px 50px 50px 50px;
}

.tab-content.active {
    display: block;
}

.pdf {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 800 / 1050;
}

.video {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 560 / 315;
}

.image {
    width: 100%;
    max-width: 700px;
}